header {
  background: lightblue;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  height: 200px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: lightgrey;
}

footer {
    display: flex;
    justify-content: center;
    background: lightblue;
    padding: 10px;
}